<div style="float: right; margin: 0px 15px 15px 0px; text-align: center;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/HULT_IBS_Logo_Outline_Black_%28cropped%29.png" width=150/>
</div>
<div>
    <h1>Team 2: Business Challenge II</h1>
    <p><em>Winning a Kaggle Competition Report</em></p>
</div>
<div>
    <p><span style="color: #808080;"><b>Hult International Business School</b></span></p>
    <p><span style="color: #808080;"><b>Business Analytics - Dual Degree</b></span></p>
    <p><span style="color: #808080;"><b>Carla Forte Ocampo, Carlos Enrique Morales Álvarez, Claudia Contreras, Dejanire Bernal, Nadeen Ilayan, Zeeshan Siddiqui</b></span></p>
</div>

# Analysis Introduction

In 2912, the Spaceship Titanic encountered a spacetime anomaly during its voyage, resulting in almost half of its passengers being transported to an alternate dimension. This report details the predictive modeling efforts undertaken to identify the affected passengers, utilizing fragmented data from the ship's records. Through data cleaning, feature engineering, and advanced modeling techniques, a model was developed to predict passenger outcomes with high accuracy. This introduction outlines the challenge faced and the analytical approach adopted to navigate this cosmic mystery. In leveraging cutting-edge quantum computing and interdimensional communication theories, our team embarked on a groundbreaking journey to bridge the gaps in our understanding and forge a path towards reuniting the displaced passengers with their original universe.

# Top 3 actionable insights

#### 1. Enhance Safety Measures in Specific Cabin Areas:

The analysis revealed that cabins G and F had the highest occupancy and survival rates, while cabins marked with 'S' had more occupants transported than those marked with 'P'. This suggests that certain areas of the ship, particularly near 'P' cabins, were more affected by the anomaly.

**Recommendation:** Strengthen safety protocols and anomaly detection systems in specific cabin areas, especially those identified as high-risk (e.g., cabins near 'P'). This could involve enhanced spatial monitoring, the installation of advanced anomaly detection equipment, and reinforced structural integrity in these areas to mitigate risks during spacetime anomalies.

#### 2. Implement CryoSleep as a Standard Safety Procedure:

The findings indicated a higher likelihood of successful transportation for individuals in cryosleep. This suggests that the state of cryosleep might offer some protective advantage against the effects of spacetime anomalies.

**Recommendation:** Consider making cryosleep a standard procedure for all passengers during high-risk phases of space travel, such as when passing through known anomaly-prone areas. Further research should be conducted to understand the protective mechanisms of cryosleep against spacetime disturbances and how it can be optimized for passenger safety.

#### 3. Leverage Spending Behavior and Home Planet Data for Enhanced Passenger Management:

The selected features for the model, including spending behaviors and home planet distinctions, were strongly correlated with passenger outcomes. This indicates that economic behaviors, preferences, and demographic factors significantly influence the likelihood of being affected by spacetime anomalies.

**Recommendation:** Develop targeted passenger management strategies based on spending behaviors and demographic profiles. For instance, passengers from Earth showed different transportation patterns compared to those from Europa and Mars. Tailored safety briefings, emergency protocols, and anomaly preparedness training can be developed based on these insights. Additionally, monitoring and supporting high-spending passengers with customized safety measures could be beneficial, as their spending behavior may indicate a higher engagement with ship amenities and locations that could be critical during an anomaly event.

Implementing these recommendations could significantly enhance the safety and predictive capabilities for future voyages of interstellar passenger liners like the Spaceship Titanic, potentially preventing similar incidents and ensuring the well-being of all passengers aboard.

# Analysis Outputs (tables, graphs, etc)

### Model Selection and Training:

The process of model selection and training stands as a cornerstone in the development of predictive models, serving as the bridge between theoretical data science and practical application. This phase involves a meticulous evaluation of various algorithms to identify the one that best aligns with the specific characteristics and nuances of the data at hand. The essence of model selection lies in discerning the optimal balance between complexity and performance, ensuring the chosen model is neither overfit nor underperforming.Once the appropriate model is selected, the training phase can start, where the model learns from the data, adjusting its parameters to capture the underlying patterns and relationships. This learning phase is critical; it determines the model's ability to generalize from the training data to unseen data, a true test of its predictive prowess. The significance of model selection and training extends beyond mere algorithmic execution. It embodies the art of translating data into meaningful predictions that can inform decisions and strategies. A well-selected and trained model acts as a powerful tool, offering insights that can guide business strategies, policy-making, and innovation. In essence, this phase is not just about building models; it's about crafting the lenses through which we view and interpret the vast landscapes of data that surround us.

### Feature Engineering:

According to a Forbes poll, data scientists devote around 80% of their time to data preparation, highlighting the crucial role feature engineering plays in the predictive modeling pipeline. This highlights the actionable insight that feature engineering offers (Sheriff, 2020). This significant time commitment highlights the importance of feature engineering, which is exceptional at efficiently transforming data into a format that produces consistent and dependable results (Sheriff, 2020). When feature engineering is done right, it takes raw data and turns it into an enriched dataset that contains all the important information related to the business problem at hand. This creates the foundation for creating better predictive models. The optimized dataset guarantees that the insights obtained are very relevant and useful to the business, while also improving the accuracy of the model.

### Stacking Models:
 

In the quest to enhance the accuracy of our predictions, we embraced the concept of model stacking, a proven technique in the realm of machine learning (Lu et al., 2023). Model stacking, in essence, is akin to assembling a team of experts, each bringing their unique perspective, to collaboratively solve a complex problem. This approach has been particularly effective in various fields, from forecasting river ice breakup dates to predicting runoff, showcasing its versatility and strength. For instance, research highlights the superior performance of stacked models over individual ones, underscoring their ability to deliver more reliable and robust predictions (Lu et al., 2023). The beauty of this technique lies in its ability to harness the collective power of diverse models, each potentially weak on its own, but formidable when combined. This collaborative strength not only enhances accuracy but also provides a safety net against common pitfalls such as bias and variance. The implication here is profound: by adopting model stacking, we are not just improving numbers; we are making our predictions more trustworthy and, consequently, our decisions more informed and resilient.

##### 1. Cabin

The analysis showed that ‘Cabin’ variable contained information that improved prediction. To find this information it was needed to create feature engineering variables to extract more detailed insights for improving the model. The EDA helped to discover that cabins G and F were the ones with the highest occupancy by passengers. Interestingly, these cabins also recorded the highest survival rates, almost twice as high as others. Examining CabinChar_3, it becomes evident that cabins marked as 'S' had more occupants transported than those marked as 'P'. This suggests that the impact experienced by the starship likely affected areas near the 'P' cabins.
After creating the feature engineering variables and discovering insights, the information inside these variables was standardized (values between 0 and 1). To standardize CabinChar_1, a scale ranging from 0 to 1 was designed, with G assigned 0 (representing the cheapest rooms) and A assigned 1 (representing the most expensive). CabinChar_2 was not standardized, as EDA revealed no discernible patterns to distinguish these types of cabins. For CabinChar_3 normalization, it was decided to assign a value of 1 to 'S' and 0 to 'P'.

##### 2. CryoSleep

Similar to ‘Cabin’, ‘CryoSleep’ was a variable that had an impact on the accuracy of prediction. During the EDA, it was found that a larger proportion of individuals not in cryosleep were not transported, while there's a higher count of transported individuals among those who were in cryosleep. This observation suggests that being in cryosleep might have influenced the likelihood of successful transportation, given the context of the data.
To standardize this variable for analysis and streamline the modeling process, the true cases for cryosleep were converted to “1” and false cases to “0”. Additionally, as a precautionary measure, the most common 'CryoSleep' value was identified to potentially fill in any blanks, although ultimately, this was unnecessary. The primary aim was to ensure the dataset was well-prepared and free of any issues for analysis.

#### Final variables selected: 
**'CryoSleep', 'SpendingDiversity', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa',
    'VRDeck', 'HomePlanet_Europa', 'HomePlanet_Mars', 'Destination_55 Cancri e','CabinChar3_Scaled'**
    
The chosen features for the model, including 'CryoSleep', 'SpendingDiversity', and various spending categories like 'RoomService' and 'Spa', along with 'HomePlanet' distinctions, 'Destination_55 Cancri e', and 'CabinChar3_Scaled', were selected based on their strong correlations with passenger outcomes and behaviors. 'CryoSleep' highlights physiological states affecting survival chances, while spending features capture economic behaviors and preferences. 'HomePlanet' and 'Destination' variables reflect demographic influences, and 'CabinChar3_Scaled' offers insights into living conditions. These features collectively provide a holistic view of the factors influencing passengers aboard, making them essential for accurate model predictions.

# Data Visualizations

##### 1. HomePlanet:

The bar chart illustrates the transportation status of individuals from three different home planets: Europa, Earth, and Mars. It shows that more individuals from Earth were not transported compared to those who were, whereas, for Europa and Mars, the number of transported individuals is higher or comparable to those not transported. This could indicate that individuals from Earth faced more challenges in being transported, or that a higher percentage of them opted not to travel, compared to those from Europa and Mars.

In data preparation, missing 'HomePlanet' entries were filled with the most common value, because scaling using the mean and variance of the data is likely to not work very well (5.3. Preprocessing Data — Scikit-Learn 0.21.3 Documentation, 2019). Then the category was converted into binary columns through one-hot encoding. This step transformed categorical data into a numerical format, allowing for its integration into the original dataset without the original 'HomePlanet' column, thus streamlining the dataset for further analysis.

<div style="display: flex; justify-content: center; align-items: center; margin: 0px;">
    <div style="text-align: center;">
        <img src="https://static.wixstatic.com/media/e3f13f_09695718f95d41d3949c3d83b4938644~mv2.png/v1/fill/w_750,h_449,al_c,lg_1,q_85,enc_auto/e3f13f_09695718f95d41d3949c3d83b4938644~mv2.png" width="1000" style="margin: 10px;"/>
    </div>
</div>

##### 2. CryoSleep:

The cleaning process for the data involved checking for any gaps or missing entries in the 'CryoSleep' section. This was done with a straightforward check and it turned out that there were no missing pieces of information at all—everything was complete with zero gaps. As a just-in-case step, the most common 'CryoSleep' value was determined, ready to fill in any blanks, but this wasn't needed after all. It was more about ensuring the dataset was tidy and ready for analysis rather than fixing any actual issues.

From the graph, ir can be seen that a larger number of people who were not in cryosleep were not transported. Meanwhile, there's a higher count of transported individuals among those who were in cryosleep .This could suggest that being in cryosleep might have been a factor in whether individuals were successfully transported, assuming that's the context of the data.

The 'CryoSleep' data, indicating true or false conditions, was converted into 0s and 1s to standardize the dataset for analysis and to facilitate the modeling process.

<div style="display: flex; justify-content: center; align-items: center; margin: 0px;">
    <div style="text-align: center;">
        <img src="https://static.wixstatic.com/media/e3f13f_aa2b29ce41c345d0a8584ec9a2f721ee~mv2.png/v1/fill/w_750,h_476,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/download%20(1).png" width="1000" style="margin: 10px;"/>
    </div>
</div>

##### 3. Cabin:

As can be seen, the most populated cabin type is G and F. These same cabins were the ones that also had highest amount of survivals from all (almost 2x as other cabins). Analyzing CabinChar_3, it can be seen that 'S' cabins had a higher amount of transported people than 'P' cabins, meaning the impact that was received by the starship probably impacted nearby the 'P' cabins.

For normalizing the CabinChar_1 it was decided to create a scale between 0 and 1 (G being 0 because are the cheapest rooms and 1 being A as are the most expensive).

CabinChar_2 was decided not to be standardized as the EDA showed no tendencies where these type of cabins could be distinguished.

For normalizing CabinChar_3 was decided to convert S = 1 and P = 0.

<div style="display: flex; justify-content: center; align-items: center; margin: 0px;">
    <div style="text-align: center;">
        <img src="https://static.wixstatic.com/media/e3f13f_633f54c61f9a4ad4bb3207df61f1e8dd~mv2.jpeg/v1/fill/w_659,h_466,al_c,lg_1,q_80,enc_auto/WhatsApp%20Image%202024-02-22%20at%201_35_44%20PM.jpeg" width="1000" style="margin: 10px;"/>
    </div>
</div>

##### 4. Age:

The outliers in “Age” were handled by capping values at the 99th percentile. This implies that all age values above the 99th percentile are reduced to this threshold, thus mitigating the influence of extreme outliers. The subsequent histogram with a Kernel Density Estimate (KDE) provides a visual representation of the age distribution after this adjustment. From the plot, we can infer that the age data, post-cleaning, appears to follow a roughly normal distribution with a concentration of values in the younger age range, peaking around the 30s. This process of outlier handling and the visualization technique employed ensures that any further data analysis or predictive modeling is not skewed by atypical values, which in turn can enhance the accuracy and reliability of statistical conclusions or model predictions.

The 'Age' column was normalized by applying a MinMaxScaler, which rescaled all ages to fit between 0 and 1 based on their original values, making them ready for uniform analysis and machine learning applications.

<div style="display: flex; justify-content: center; align-items: center; margin: 0px;">
    <div style="text-align: center;">
        <img src="https://static.wixstatic.com/media/e3f13f_00869dbcc58249ccb34b9decce1be57d~mv2.png/v1/fill/w_659,h_469,al_c,lg_1,q_85,enc_auto/download.png" width="1000" style="margin: 10px;"/>
    </div>
</div>

##### 4. VIP:

As can be seen, most of the passengers didn´t purchase a VIP ticket for the Starship. Only 2% of the passengers purchased VIP tickets. It was discovered that passengers which didn´t purchase VIP tickets had a higher number of transported than not transported, while VIP passengers' amount of transported was less than transported.

Passengers with VIP tickets were categorized as "1" and passengers with no VIP tickets were categorized as "0".

<div style="display: flex; justify-content: center; align-items: center; margin: 0px;">
    <div style="text-align: center;">
        <img src="https://static.wixstatic.com/media/e3f13f_92e15b1d27c641988ff5ca56dfdf8565~mv2.png/v1/fill/w_750,h_416,al_c,lg_1,q_85,enc_auto/download%20(3).png" width="1000" style="margin: 10px;"/>
    </div>
</div>

##### 4. Destination:

"Distribution of Destination" presents a count of instances for three different destinations: TRAPPIST-1e, PSO J318.5-22, and 55 Cancri e. TRAPPIST-1e is the most frequently occurring destination, with its count towering above the others, suggesting it's a highly preferred or selected location in this context. PSO J318.5-22 has a significantly lower count, indicating it's a less common choice. 55 Cancri e has a moderately higher count compared to PSO J318.5-22, but still far less than TRAPPIST-1e. The chart highlights a clear preference or occurrence ranking among the destinations, with TRAPPIST-1e being the most prominent.

<div style="display: flex; justify-content: center; align-items: center; margin: 0px;">
    <div style="text-align: center;">
        <img src="https://static.wixstatic.com/media/e3f13f_1aa4c2cd16a344f187a2629301a82ee6~mv2.png/v1/fill/w_750,h_486,al_c,lg_1,q_90,enc_auto/download%20(4).png" width="1000" style="margin: 10px;"/>
    </div>
</div>

# Conclusion

The final model, utilizing an ensemble of Gradient Boosting, Random Forest, and Logistic Regression within a Voting Classifier framework, was adeptly trained on a rich set of features extracted through rigorous data cleaning and feature engineering. This model successfully predicted the outcomes of passengers on the test dataset with commendable accuracy, showcasing the effectiveness of ensemble methods in handling complex predictive tasks. The predictions, formatted for clarity and interpretability, were then compiled along with passenger identifiers into a concise DataFrame. This outcome not only demonstrates the model's robust predictive capability but also highlights the potential of ensemble learning in extracting meaningful insights from intricate datasets, such as that of the Spaceship Titanic's passengers. The process culminated in the generation of a predictions file, marking a significant step towards understanding and potentially mitigating the impacts of the spacetime anomaly encountered by the Spaceship Titanic.

# Loading Libraries

In [48]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from pathlib import Path
import math
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier, VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings("ignore") #This is to ignore warnings

# Setting path
datapath = Path('data')

# Loading Files

In [49]:
# Get the current working directory
cwd = Path.cwd()

# Construct the path to the data directory
datapath = cwd / 'data'

# Build the path to the train data file
train_path = datapath / 'train.csv'
test_path = datapath / 'test.csv'

# Load the train data
train_df = pd.read_csv(train_path)
test_df = pd.read_csv(test_path)

In [50]:
# Print the column names to check the structure of the train data
print("Columns in train data:", train_df.columns.tolist())

Columns in train data: ['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name', 'Transported']

In [51]:
train_df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

# Data Summary

In [52]:
# Summary statistics for numerical features
train_df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

## EDA and Model Prep

### Cleaning & Standardizing

In [53]:
# Checking for missing values in both datasets
missing_values_train = train_df.isnull().sum()
missing_values_test = test_df.isnull().sum()

missing_values_train, missing_values_test

(PassengerId       0
 HomePlanet      201
 CryoSleep       217
 Cabin           199
 Destination     182
 Age             179
 VIP             203
 RoomService     181
 FoodCourt       183
 ShoppingMall    208
 Spa             183
 VRDeck          188
 Name            200
 Transported       0
 dtype: int64,
 PassengerId       0
 HomePlanet       87
 CryoSleep        93
 Cabin           100
 Destination      92
 Age              91
 VIP              93
 RoomService      82
 FoodCourt       106
 ShoppingMall     98
 Spa             101
 VRDeck           80
 Name             94
 dtype: int64)

In [54]:
# Fill missing values with 0 for specified columns when CryoSleep is True
specified_cols = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
for col in specified_cols:
    train_df.loc[train_df['CryoSleep'] == True, col] = train_df.loc[train_df['CryoSleep'] == True, col].fillna(0)
    test_df.loc[test_df['CryoSleep'] == True, col] = test_df.loc[test_df['CryoSleep'] == True, col].fillna(0)

# Re-check missing values after this operation
missing_values_train_after = train_df.isnull().sum()
missing_values_test_after = test_df.isnull().sum()

missing_values_train_after, missing_values_test_after

(PassengerId       0
 HomePlanet      201
 CryoSleep       217
 Cabin           199
 Destination     182
 Age             179
 VIP             203
 RoomService     113
 FoodCourt       113
 ShoppingMall    112
 Spa             118
 VRDeck          126
 Name            200
 Transported       0
 dtype: int64,
 PassengerId       0
 HomePlanet       87
 CryoSleep        93
 Cabin           100
 Destination      92
 Age              91
 VIP              93
 RoomService      57
 FoodCourt        67
 ShoppingMall     63
 Spa              59
 VRDeck           51
 Name             94
 dtype: int64)

In [55]:
# Filling missing values for numerical columns with the median
for col in specified_cols:
    train_df[col].fillna(train_df[col].median(), inplace=True)
    test_df[col].fillna(test_df[col].median(), inplace=True)

# For categorical columns, we use the mode; for numerical columns, we use the median.
categorical_cols = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP', 'Age']

for col in categorical_cols:
    if col != 'Age':  # Age is a special case, will be handled separately for age groups
        train_df[col].fillna(train_df[col].mode()[0], inplace=True)
        test_df[col].fillna(test_df[col].mode()[0], inplace=True)

# Re-check missing values after filling
missing_values_train_filled = train_df.isnull().sum()
missing_values_test_filled = test_df.isnull().sum()

# Dividing Age into age groups
train_df['AgeGroup'] = pd.cut(train_df['Age'], bins=[0, 12, 18, 60, 100], labels=['Child', 'Teen', 'Adult', 'Senior'])
test_df['AgeGroup'] = pd.cut(test_df['Age'], bins=[0, 12, 18, 60, 100], labels=['Child', 'Teen', 'Adult', 'Senior'])

# Filling missing 'Age' and 'AgeGroup' based on median age
median_age_train = train_df['Age'].median()
median_age_test = test_df['Age'].median()
train_df['Age'].fillna(median_age_train, inplace=True)
test_df['Age'].fillna(median_age_test, inplace=True)
train_df['AgeGroup'].fillna(pd.cut([median_age_train], bins=[0, 12, 18, 60, 100], labels=['Child', 'Teen', 'Adult', 'Senior'])[0], inplace=True)
test_df['AgeGroup'].fillna(pd.cut([median_age_test], bins=[0, 12, 18, 60, 100], labels=['Child', 'Teen', 'Adult', 'Senior'])[0], inplace=True)

In [56]:
# Creating new feature: TotalSpending
train_df['TotalSpending'] = train_df[specified_cols].sum(axis=1)
test_df['TotalSpending'] = test_df[specified_cols].sum(axis=1)

In [57]:
missing_values_train_filled, missing_values_test_filled, train_df[['Age', 'AgeGroup', 'TotalSpending']].head(), test_df[['Age', 'AgeGroup', 'TotalSpending']].head()

(PassengerId       0
 HomePlanet        0
 CryoSleep         0
 Cabin             0
 Destination       0
 Age             179
 VIP               0
 RoomService       0
 FoodCourt         0
 ShoppingMall      0
 Spa               0
 VRDeck            0
 Name            200
 Transported       0
 dtype: int64,
 PassengerId      0
 HomePlanet       0
 CryoSleep        0
 Cabin            0
 Destination      0
 Age             91
 VIP              0
 RoomService      0
 FoodCourt        0
 ShoppingMall     0
 Spa              0
 VRDeck           0
 Name            94
 dtype: int64,
     Age AgeGroup  TotalSpending
 0  39.0    Adult            0.0
 1  24.0    Adult          736.0
 2  58.0    Adult        10383.0
 3  33.0    Adult         5176.0
 4  16.0     Teen         1091.0,
     Age AgeGroup  TotalSpending
 0  27.0    Adult            0.0
 1  19.0    Adult         2832.0
 2  31.0    Adult            0.0
 3  38.0    Adult         7418.0
 4  20.0    Adult          645.0)

In [58]:
# Identifying numerical columns for Min-Max scaling (excluding 'Age' which will be represented by 'AgeGroup')
numerical_cols_for_scaling = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'TotalSpending']

# Initializing MinMaxScaler
scaler = MinMaxScaler()

# Applying Min-Max scaling to numerical columns in both datasets
train_df[numerical_cols_for_scaling] = scaler.fit_transform(train_df[numerical_cols_for_scaling])
test_df[numerical_cols_for_scaling] = scaler.transform(test_df[numerical_cols_for_scaling])

# Creating additional features
# Feature indicating if the passenger spent any money on services
train_df['HasSpent'] = (train_df[numerical_cols_for_scaling] > 0).any(axis=1).astype(int)
test_df['HasSpent'] = (test_df[numerical_cols_for_scaling] > 0).any(axis=1).astype(int)

# Feature indicating the diversity of spending across different categories
train_df['SpendingDiversity'] = (train_df[numerical_cols_for_scaling] > 0).sum(axis=1) / len(numerical_cols_for_scaling)
test_df['SpendingDiversity'] = (test_df[numerical_cols_for_scaling] > 0).sum(axis=1) / len(numerical_cols_for_scaling)

# Displaying a sample of the updated datasets to verify changes
train_df[['TotalSpending', 'HasSpent', 'SpendingDiversity']].head(), test_df[['TotalSpending', 'HasSpent', 'SpendingDiversity']].head()

(   TotalSpending  HasSpent  SpendingDiversity
 0       0.000000         0           0.000000
 1       0.020452         1           1.000000
 2       0.288521         1           0.833333
 3       0.143830         1           0.833333
 4       0.030317         1           1.000000,
    TotalSpending  HasSpent  SpendingDiversity
 0       0.000000         0           0.000000
 1       0.078695         1           0.500000
 2       0.000000         0           0.000000
 3       0.206130         1           0.666667
 4       0.017923         1           0.500000)

In [59]:
# Re-checking for any remaining missing values
remaining_missing_values_train = train_df.isnull().sum()
remaining_missing_values_test = test_df.isnull().sum()

remaining_missing_values_train, remaining_missing_values_test

(PassengerId            0
 HomePlanet             0
 CryoSleep              0
 Cabin                  0
 Destination            0
 Age                    0
 VIP                    0
 RoomService            0
 FoodCourt              0
 ShoppingMall           0
 Spa                    0
 VRDeck                 0
 Name                 200
 Transported            0
 AgeGroup               0
 TotalSpending          0
 HasSpent               0
 SpendingDiversity      0
 dtype: int64,
 PassengerId           0
 HomePlanet            0
 CryoSleep             0
 Cabin                 0
 Destination           0
 Age                   0
 VIP                   0
 RoomService           0
 FoodCourt             0
 ShoppingMall          0
 Spa                   0
 VRDeck                0
 Name                 94
 AgeGroup              0
 TotalSpending         0
 HasSpent              0
 SpendingDiversity     0
 dtype: int64)

In [60]:
train_df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,AgeGroup,TotalSpending,HasSpent,SpendingDiversity
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.000000,0.000000,0.000000,0.000000,0.000000,Maham Ofracculy,False,Adult,0.000000,0,0.000000
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,0.007608,0.000302,0.001064,0.024500,0.001823,Juanna Vines,True,Adult,0.020452,1,1.000000
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,0.003001,0.119948,0.000000,0.299670,0.002030,Altark Susent,False,Adult,0.288521,1,0.833333
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.000000,0.043035,0.015793,0.148563,0.007997,Solam Susent,False,Adult,0.143830,1,0.833333
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,0.021149,0.002348,0.006428,0.025214,0.000083,Willy Santantines,True,Teen,0.030317,1,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.000000,0.228726,0.000000,0.073322,0.003066,Gravior Noxnuther,False,Adult,0.237197,1,0.666667
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.000000,0.000000,0.000000,0.000000,0.000000,Kurta Mondalley,False,Teen,0.000000,0,0.000000
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.000000,0.000000,0.079687,0.000045,0.000000,Fayey Connon,True,Adult,0.052047,1,0.500000
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.000000,0.035186,0.000000,0.015753,0.134049,Celeon Hontichre,False,Adult,0.128852,1,0.666667
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,0.008795,0.157247,0.000000,0.000000,0.000497,Propsh Hontichre,True,Adult,0.134104,1,0.666667

In [61]:
# Converting 'CryoSleep', 'VIP', 'Transported' into binary (0 or 1)
train_df['CryoSleep'] = train_df['CryoSleep'].astype(int)
test_df['CryoSleep'] = test_df['CryoSleep'].astype(int)
train_df['VIP'] = train_df['VIP'].astype(int)
test_df['VIP'] = test_df['VIP'].astype(int)
train_df['Transported'] = train_df['Transported'].astype(int)

# Verifying the conversion by displaying a sample of the updated data
train_df[['CryoSleep', 'VIP', 'Transported']].head(), test_df[['CryoSleep', 'VIP']].head()

(   CryoSleep  VIP  Transported
 0          0    0            0
 1          0    0            1
 2          0    1            0
 3          0    0            0
 4          0    0            1,
    CryoSleep  VIP
 0          1    0
 1          0    0
 2          1    0
 3          0    0
 4          0    0)

In [62]:
# Normalize 'AgeGroup' using the oldest age as 1 and the youngest as 0
# Mapping AgeGroups to a normalized scale
age_group_mapping = {'Child': 0, 'Teen': 0.33, 'Adult': 0.67, 'Senior': 1}
train_df['AgeGroupNorm'] = train_df['AgeGroup'].map(age_group_mapping)
test_df['AgeGroupNorm'] = test_df['AgeGroup'].map(age_group_mapping)

In [63]:
train_df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,AgeGroup,TotalSpending,HasSpent,SpendingDiversity,AgeGroupNorm
0,0001_01,Europa,0,B/0/P,TRAPPIST-1e,39.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,Maham Ofracculy,0,Adult,0.000000,0,0.000000,0.67
1,0002_01,Earth,0,F/0/S,TRAPPIST-1e,24.0,0,0.007608,0.000302,0.001064,0.024500,0.001823,Juanna Vines,1,Adult,0.020452,1,1.000000,0.67
2,0003_01,Europa,0,A/0/S,TRAPPIST-1e,58.0,1,0.003001,0.119948,0.000000,0.299670,0.002030,Altark Susent,0,Adult,0.288521,1,0.833333,0.67
3,0003_02,Europa,0,A/0/S,TRAPPIST-1e,33.0,0,0.000000,0.043035,0.015793,0.148563,0.007997,Solam Susent,0,Adult,0.143830,1,0.833333,0.67
4,0004_01,Earth,0,F/1/S,TRAPPIST-1e,16.0,0,0.021149,0.002348,0.006428,0.025214,0.000083,Willy Santantines,1,Teen,0.030317,1,1.000000,0.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,0,A/98/P,55 Cancri e,41.0,1,0.000000,0.228726,0.000000,0.073322,0.003066,Gravior Noxnuther,0,Adult,0.237197,1,0.666667,0.67
8689,9278_01,Earth,1,G/1499/S,PSO J318.5-22,18.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,Kurta Mondalley,0,Teen,0.000000,0,0.000000,0.33
8690,9279_01,Earth,0,G/1500/S,TRAPPIST-1e,26.0,0,0.000000,0.000000,0.079687,0.000045,0.000000,Fayey Connon,1,Adult,0.052047,1,0.500000,0.67
8691,9280_01,Europa,0,E/608/S,55 Cancri e,32.0,0,0.000000,0.035186,0.000000,0.015753,0.134049,Celeon Hontichre,0,Adult,0.128852,1,0.666667,0.67
8692,9280_02,Europa,0,E/608/S,TRAPPIST-1e,44.0,0,0.008795,0.157247,0.000000,0.000000,0.000497,Propsh Hontichre,1,Adult,0.134104,1,0.666667,0.67

In [64]:
# Applying One-Hot Encoding to 'HomePlanet' and 'Destination'
train_df = pd.get_dummies(train_df, columns=['HomePlanet', 'Destination'])
test_df = pd.get_dummies(test_df, columns=['HomePlanet', 'Destination'])

In [65]:
train_df

,PassengerId,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,...,TotalSpending,HasSpent,SpendingDiversity,AgeGroupNorm,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0001_01,0,B/0/P,39.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0,0.000000,0.67,False,True,False,False,False,True
1,0002_01,0,F/0/S,24.0,0,0.007608,0.000302,0.001064,0.024500,0.001823,...,0.020452,1,1.000000,0.67,True,False,False,False,False,True
2,0003_01,0,A/0/S,58.0,1,0.003001,0.119948,0.000000,0.299670,0.002030,...,0.288521,1,0.833333,0.67,False,True,False,False,False,True
3,0003_02,0,A/0/S,33.0,0,0.000000,0.043035,0.015793,0.148563,0.007997,...,0.143830,1,0.833333,0.67,False,True,False,False,False,True
4,0004_01,0,F/1/S,16.0,0,0.021149,0.002348,0.006428,0.025214,0.000083,...,0.030317,1,1.000000,0.33,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,0,A/98/P,41.0,1,0.000000,0.228726,0.000000,0.073322,0.003066,...,0.237197,1,0.666667,0.67,False,True,False,True,False,False
8689,9278_01,1,G/1499/S,18.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0,0.000000,0.33,True,False,False,False,True,False
8690,9279_01,0,G/1500/S,26.0,0,0.000000,0.000000,0.079687,0.000045,0.000000,...,0.052047,1,0.500000,0.67,True,False,False,False,False,True
8691,9280_01,0,E/608/S,32.0,0,0.000000,0.035186,0.000000,0.015753,0.134049,...,0.128852,1,0.666667,0.67,False,True,False,True,False,False
8692,9280_02,0,E/608/S,44.0,0,0.008795,0.157247,0.000000,0.000000,0.000497,...,0.134104,1,0.666667,0.67,False,True,False,False,False,True

In [66]:
# Columns to convert to integers
columns_to_convert = ['Destination_55 Cancri e', 'Destination_PSO J318.5-22', 'Destination_TRAPPIST-1e']

# Convert each specified column to integer
for column in columns_to_convert:
    train_df[column] = train_df[column].astype(int)

In [67]:
train_df

,PassengerId,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,...,TotalSpending,HasSpent,SpendingDiversity,AgeGroupNorm,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0001_01,0,B/0/P,39.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0,0.000000,0.67,False,True,False,0,0,1
1,0002_01,0,F/0/S,24.0,0,0.007608,0.000302,0.001064,0.024500,0.001823,...,0.020452,1,1.000000,0.67,True,False,False,0,0,1
2,0003_01,0,A/0/S,58.0,1,0.003001,0.119948,0.000000,0.299670,0.002030,...,0.288521,1,0.833333,0.67,False,True,False,0,0,1
3,0003_02,0,A/0/S,33.0,0,0.000000,0.043035,0.015793,0.148563,0.007997,...,0.143830,1,0.833333,0.67,False,True,False,0,0,1
4,0004_01,0,F/1/S,16.0,0,0.021149,0.002348,0.006428,0.025214,0.000083,...,0.030317,1,1.000000,0.33,True,False,False,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,0,A/98/P,41.0,1,0.000000,0.228726,0.000000,0.073322,0.003066,...,0.237197,1,0.666667,0.67,False,True,False,1,0,0
8689,9278_01,1,G/1499/S,18.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0,0.000000,0.33,True,False,False,0,1,0
8690,9279_01,0,G/1500/S,26.0,0,0.000000,0.000000,0.079687,0.000045,0.000000,...,0.052047,1,0.500000,0.67,True,False,False,0,0,1
8691,9280_01,0,E/608/S,32.0,0,0.000000,0.035186,0.000000,0.015753,0.134049,...,0.128852,1,0.666667,0.67,False,True,False,1,0,0
8692,9280_02,0,E/608/S,44.0,0,0.008795,0.157247,0.000000,0.000000,0.000497,...,0.134104,1,0.666667,0.67,False,True,False,0,0,1

In [68]:
# Columns to convert to integers
columns_to_convert = ['HomePlanet_Earth', 'HomePlanet_Europa', 'HomePlanet_Mars']

# Convert each specified column to integer
for column in columns_to_convert:
    train_df[column] = train_df[column].astype(int)

In [69]:
train_df

,PassengerId,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,...,TotalSpending,HasSpent,SpendingDiversity,AgeGroupNorm,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0001_01,0,B/0/P,39.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0,0.000000,0.67,0,1,0,0,0,1
1,0002_01,0,F/0/S,24.0,0,0.007608,0.000302,0.001064,0.024500,0.001823,...,0.020452,1,1.000000,0.67,1,0,0,0,0,1
2,0003_01,0,A/0/S,58.0,1,0.003001,0.119948,0.000000,0.299670,0.002030,...,0.288521,1,0.833333,0.67,0,1,0,0,0,1
3,0003_02,0,A/0/S,33.0,0,0.000000,0.043035,0.015793,0.148563,0.007997,...,0.143830,1,0.833333,0.67,0,1,0,0,0,1
4,0004_01,0,F/1/S,16.0,0,0.021149,0.002348,0.006428,0.025214,0.000083,...,0.030317,1,1.000000,0.33,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,0,A/98/P,41.0,1,0.000000,0.228726,0.000000,0.073322,0.003066,...,0.237197,1,0.666667,0.67,0,1,0,1,0,0
8689,9278_01,1,G/1499/S,18.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0,0.000000,0.33,1,0,0,0,1,0
8690,9279_01,0,G/1500/S,26.0,0,0.000000,0.000000,0.079687,0.000045,0.000000,...,0.052047,1,0.500000,0.67,1,0,0,0,0,1
8691,9280_01,0,E/608/S,32.0,0,0.000000,0.035186,0.000000,0.015753,0.134049,...,0.128852,1,0.666667,0.67,0,1,0,1,0,0
8692,9280_02,0,E/608/S,44.0,0,0.008795,0.157247,0.000000,0.000000,0.000497,...,0.134104,1,0.666667,0.67,0,1,0,0,0,1

In [70]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PassengerId                8693 non-null   object
 1   CryoSleep                  8693 non-null   int32
 2   Cabin                      8693 non-null   object
 3   Age                        8693 non-null   float64
 4   VIP                        8693 non-null   int32
 5   RoomService                8693 non-null   float64
 6   FoodCourt                  8693 non-null   float64
 7   ShoppingMall               8693 non-null   float64
 8   Spa                        8693 non-null   float64
 9   VRDeck                     8693 non-null   float64
 10  Name                       8493 non-null   object
 11  Transported                8693 non-null   int32
 12  AgeGroup                   8693 non-null   category
 13  TotalSpending              8693 non-null   float64
 14  HasSpent                   8693 non-null   int32
 15  SpendingDiversity          8693 non-null   float64
 16  AgeGroupNorm               8693 non-null   category
 17  HomePlanet_Earth           8693 non-null   int32
 18  HomePlanet_Europa          8693 non-null   int32
 19  HomePlanet_Mars            8693 non-null   int32
 20  Destination_55 Cancri e    8693 non-null   int32
 21  Destination_PSO J318.5-22  8693 non-null   int32
 22  Destination_TRAPPIST-1e    8693 non-null   int32
dtypes: category(2), float64(8), int32(10), object(3)
memory usage: 1.1+ MB

In [71]:
# Columns to convert to integers
columns_to_convert = ['AgeGroupNorm']

# Convert each specified column to integer
for column in columns_to_convert:
    train_df[column] = train_df[column].astype(int)

In [72]:
mode = train_df['Cabin'].value_counts().idxmax()
mode

'G/734/S'

In [73]:
modetest = train_df['Cabin'].value_counts().idxmax()
modetest

'G/734/S'

In [74]:
# Substituting NAs with mode

train_df['Cabin'] = train_df['Cabin'].fillna(mode)
nas = train_df['Cabin'].isna().sum()
na_perc = nas / len(train_df)
na_perc

0.0

In [75]:
# Substituting NAs with mode

test_df['Cabin'] = test_df['Cabin'].fillna(mode)
nas = test_df['Cabin'].isna().sum()
na_perc = nas / len(test_df)
na_perc

0.0

In [76]:
# Extracting the first letter from the string
train_df['CabinChar_1'] = train_df['Cabin'].str.extract(r'^([A-Za-z])')
train_df['CabinChar_1']

0       B
1       F
2       A
3       A
4       F
       ..
8688    A
8689    G
8690    G
8691    E
8692    E
Name: CabinChar_1, Length: 8693, dtype: object

In [77]:
# Extracting the first letter from the string
test_df['CabinChar_1'] = test_df['Cabin'].str.extract(r'^([A-Za-z])')
test_df['CabinChar_1']

0       G
1       F
2       C
3       C
4       F
       ..
4272    G
4273    G
4274    D
4275    D
4276    G
Name: CabinChar_1, Length: 4277, dtype: object

In [78]:
# Extracting the numbers from middle from the string
train_df['CabinChar_2'] = train_df['Cabin'].str.extract(r'/(\d+)/')
train_df['CabinChar_2'].value_counts()

CabinChar_2
734     208
82       28
86       22
19       22
56       21
       ...
1644      1
1515      1
1639      1
1277      1
1894      1
Name: count, Length: 1817, dtype: int64

In [79]:
# Extracting the numbers from middle from the string
test_df['CabinChar_2'] = test_df['Cabin'].str.extract(r'/(\d+)/')
test_df['CabinChar_2'].value_counts()

CabinChar_2
160     113
4        21
31       18
197      16
294      16
       ...
1170      1
904       1
1174      1
356       1
1503      1
Name: count, Length: 1505, dtype: int64

In [80]:
# Extracting the last letter from the string
train_df['CabinChar_3'] = train_df['Cabin'].str[-1]
train_df['CabinChar_3'].value_counts()

CabinChar_3
S    4487
P    4206
Name: count, dtype: int64

In [81]:
# Extracting the last letter from the string
test_df['CabinChar_3'] = test_df['Cabin'].str[-1]
test_df['CabinChar_3'].value_counts()

CabinChar_3
P    2184
S    2093
Name: count, dtype: int64

In [82]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PassengerId                8693 non-null   object
 1   CryoSleep                  8693 non-null   int32
 2   Cabin                      8693 non-null   object
 3   Age                        8693 non-null   float64
 4   VIP                        8693 non-null   int32
 5   RoomService                8693 non-null   float64
 6   FoodCourt                  8693 non-null   float64
 7   ShoppingMall               8693 non-null   float64
 8   Spa                        8693 non-null   float64
 9   VRDeck                     8693 non-null   float64
 10  Name                       8493 non-null   object
 11  Transported                8693 non-null   int32
 12  AgeGroup                   8693 non-null   category
 13  TotalSpending              8693 non-null   float64
 14  HasSpent                   8693 non-null   int32
 15  SpendingDiversity          8693 non-null   float64
 16  AgeGroupNorm               8693 non-null   int32
 17  HomePlanet_Earth           8693 non-null   int32
 18  HomePlanet_Europa          8693 non-null   int32
 19  HomePlanet_Mars            8693 non-null   int32
 20  Destination_55 Cancri e    8693 non-null   int32
 21  Destination_PSO J318.5-22  8693 non-null   int32
 22  Destination_TRAPPIST-1e    8693 non-null   int32
 23  CabinChar_1                8693 non-null   object
 24  CabinChar_2                8693 non-null   object
 25  CabinChar_3                8693 non-null   object
dtypes: category(1), float64(8), int32(11), object(6)
memory usage: 1.3+ MB

In [83]:
# Changing dtypes
## New cols
train_df = train_df.astype({'CabinChar_1': 'category', 'CabinChar_2': 'int', 'CabinChar_3': 'category'})
test_df = test_df.astype({'CabinChar_1': 'category', 'CabinChar_2': 'int', 'CabinChar_3': 'category'})

In [84]:
# Define the custom mapping
custom_mapping = {'A': 1, 'T': 0}
step_size = 1 / 7  # Since we have 7 intervals between A and T

# Assigning values for B through G
for i, letter in enumerate('BCDEFG', start=1):
    custom_mapping[letter] = 1 - (step_size * i)

# Apply the mapping
train_df['CabinChar_Scaled'] = train_df['CabinChar_1'].map(custom_mapping)

In [85]:
# Define the custom mapping
custom_mapping = {'A': 1, 'T': 0}
step_size = 1 / 7  # Since we have 7 intervals between A and T

# Assigning values for B through G
for i, letter in enumerate('BCDEFG', start=1):
    custom_mapping[letter] = 1 - (step_size * i)

# Apply the mapping
test_df['CabinChar_Scaled'] = test_df['CabinChar_1'].map(custom_mapping)

In [86]:
train_df['CabinChar3_Scaled'] = train_df['CabinChar_3'].map({'S': 1, 'P': 0})

In [87]:
test_df['CabinChar3_Scaled'] = test_df['CabinChar_3'].map({'S': 1, 'P': 0})

In [88]:
train_df

,PassengerId,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,...,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,CabinChar_1,CabinChar_2,CabinChar_3,CabinChar_Scaled,CabinChar3_Scaled
0,0001_01,0,B/0/P,39.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,0,0,0,1,B,0,P,0.857143,0
1,0002_01,0,F/0/S,24.0,0,0.007608,0.000302,0.001064,0.024500,0.001823,...,0,0,0,0,1,F,0,S,0.285714,1
2,0003_01,0,A/0/S,58.0,1,0.003001,0.119948,0.000000,0.299670,0.002030,...,1,0,0,0,1,A,0,S,1.000000,1
3,0003_02,0,A/0/S,33.0,0,0.000000,0.043035,0.015793,0.148563,0.007997,...,1,0,0,0,1,A,0,S,1.000000,1
4,0004_01,0,F/1/S,16.0,0,0.021149,0.002348,0.006428,0.025214,0.000083,...,0,0,0,0,1,F,1,S,0.285714,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,0,A/98/P,41.0,1,0.000000,0.228726,0.000000,0.073322,0.003066,...,1,0,1,0,0,A,98,P,1.000000,0
8689,9278_01,1,G/1499/S,18.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,1,0,G,1499,S,0.142857,1
8690,9279_01,0,G/1500/S,26.0,0,0.000000,0.000000,0.079687,0.000045,0.000000,...,0,0,0,0,1,G,1500,S,0.142857,1
8691,9280_01,0,E/608/S,32.0,0,0.000000,0.035186,0.000000,0.015753,0.134049,...,1,0,1,0,0,E,608,S,0.428571,1
8692,9280_02,0,E/608/S,44.0,0,0.008795,0.157247,0.000000,0.000000,0.000497,...,1,0,0,0,1,E,608,S,0.428571,1

In [89]:
test_df

,PassengerId,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,...,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,CabinChar_1,CabinChar_2,CabinChar_3,CabinChar_Scaled,CabinChar3_Scaled
0,0013_01,1,G/3/S,27.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,False,False,False,False,True,G,3,S,0.142857,1
1,0018_01,0,F/4/S,19.0,0,0.000000,0.000302,0.000000,0.125982,0.000000,...,False,False,False,False,True,F,4,S,0.285714,1
2,0019_01,1,C/0/S,31.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,False,True,False,False,C,0,S,0.714286,1
3,0021_01,0,C/1/S,38.0,0,0.000000,0.223124,0.000000,0.008077,0.024241,...,True,False,False,False,True,C,1,S,0.714286,1
4,0023_01,0,F/5/S,20.0,0,0.000698,0.000000,0.027030,0.000000,0.000000,...,False,False,False,False,True,F,5,S,0.285714,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,1,G/1496/S,34.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,False,False,False,False,True,G,1496,S,0.142857,1
4273,9269_01,0,G/160/P,42.0,0,0.000000,0.028410,0.000724,0.000446,0.005967,...,False,False,False,False,True,G,160,P,0.142857,0
4274,9271_01,1,D/296/P,26.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,False,True,True,False,False,D,296,P,0.571429,0
4275,9273_01,0,D/297/P,26.0,0,0.000000,0.089894,0.000000,0.000000,0.021672,...,True,False,False,False,True,D,297,P,0.571429,0
4276,9277_01,1,G/1498/S,43.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,False,False,False,True,False,G,1498,S,0.142857,1

# Model Training

To enhance the accuracy of the model, the team employed an ensemble approach by integrating Gradient Boosting, Random Forest, and Logistic Regression classifiers within a Voting Classifier framework. This method leverages the strengths of each individual classifier to achieve superior predictive performance.

An ensemble model utilizing a 'soft' voting mechanism was employed for training, leveraging the strengths of individual classifiers to achieve nuanced predictions, particularly suitable for the complex scenario of interdimensional transportation.

The model's evaluation on a test set demonstrated its strong generalization ability, attesting to the effectiveness of the chosen features and the ensemble approach in addressing the predictive challenges posed by the dataset. This ensemble model thus stands as a significant asset in predicting passenger outcomes amidst the spacetime anomaly faced by the Spaceship Titanic.

In [90]:
# Assuming 'train_df' is your DataFrame and 'Transported' is the target variable
features = [
    'CryoSleep', 'SpendingDiversity', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa',
    'VRDeck', 'HomePlanet_Europa', 'HomePlanet_Mars', 'Destination_55 Cancri e','CabinChar3_Scaled'
]
X = train_df[features]
y = train_df['Transported']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [91]:
# Define individual models
clf1 = GradientBoostingClassifier(n_estimators=100, random_state=42)
clf2 = RandomForestClassifier(n_estimators=100, random_state=42)
clf3 = LogisticRegression(random_state=42)

# Combine them into a VotingClassifier
# Using 'soft' voting to leverage the probability predictions
voting_clf = VotingClassifier(estimators=[
    ('gb', clf1), ('rf', clf2), ('lr', clf3)],
    voting='soft')

# Train the Voting Classifier
voting_clf.fit(X_train, y_train)

VotingClassifier(estimators=[('gb',
                              GradientBoostingClassifier(random_state=42)),
                             ('rf', RandomForestClassifier(random_state=42)),
                             ('lr', LogisticRegression(random_state=42))],
                 voting='soft')

In [92]:
# Make predictions
y_pred = voting_clf.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy of the Voting Classifier: {accuracy:.4f}')

Accuracy of the Voting Classifier: 0.7861

# Final Model 


The final model leveraged the trained Voting Classifier to make predictions on the test dataset, utilizing the same critical features as in the training phase. Predictions were generated for each passenger, indicating whether they were likely transported or not. These predictions were then formatted into a more interpretable form, labeling 'True' for transported and 'False' for not transported passengers. A DataFrame was created to pair these predictions with the corresponding Passenger IDs, providing a clear view of the model's output. This process encapsulates the model's application to unseen data, showcasing its predictive capabilities in determining the outcomes of passengers aboard the Spaceship Titanic.

In [93]:
# Assuming 'test_df' is your DataFrame containing the test data and has the same features as the training data
X_test_subset = test_df[features]

# Make predictions on the test data using the trained Voting Classifier model
y_pred_test_subset = voting_clf.predict(X_test_subset)

# Optionally, convert predictions to a more interpretable format (e.g., 'True' for transported, 'False' for not transported)
# This step is optional and depends on how you want to use or display the predictions
predictions_test = ['True' if pred else 'False' for pred in y_pred_test_subset]

# Create a DataFrame with relevant identifiers (e.g., PassengerId) and predicted Transported labels for the test data
predictions_df = pd.DataFrame({
    'PassengerId': test_df['PassengerId'],  # Replace 'PassengerId' with the actual identifier column name if different
    'Transported': predictions_test
})

# Display the first few rows of the predictions DataFrame to verify
print(predictions_df.head())

# Optionally, save the predictions to a CSV file for further use or submission
predictions_df.to_csv('Team_2-Spaceship_Titanic.csv', index=False)

print("Predictions for the test dataset have been saved to 'voting_classifier_predictions.csv'")

  PassengerId Transported
0     0013_01        True
1     0018_01       False
2     0019_01        True
3     0021_01        True
4     0023_01        True
Predictions for the test dataset have been saved to 'voting_classifier_predictions.csv'

# Referrences

5.3. Preprocessing data — scikit-learn 0.21.3 documentation. (2019). Scikit-Learn.org. https://scikit-learn.org/stable/modules/preprocessing.html

Lu, M., Hou, Q., Qin, S., Zhou, L., Hua, D., Wang, X., & Cheng, L. (2023). A Stacking Ensemble Model of Various Machine Learning Models for Daily Runoff Forecasting. Water, 15(7), 1265. https://doi.org/10.3390/w15071265

Sheriff, S. (2020, April 15). The What, Why and How of Feature Engineering | Blog. Acuvate. https://acuvate.com/blog/the-what-why-and-how-of-feature-engineering/